
<body>
    <div>
    <img width="300px" src="/images/beer.png" alt="beer-image"/>

         <nav class="nav-bar">
            <ul>
            <li><a href="/beers"> Check the Beers! </a></li>
            <li><a href="/random-beers"> Check a Radnom Beer! </a></li>
            </ul>
         </nav>   
    </div>
    
</body>
</html>