body {
   background-color: white #f7f9f9;
   margin: 0;
   padding: 0;
   font-family:  Arial, Helvetica, sans-serif;
    /* grey: #bfbfbf; */
}

.nav-bar {
    background-color: #2081c3;
    color: #0a2c42;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.nav-bar a {
    text-decoration: none;
    color: black;
  }
  